html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --colorOne: #eae7dd;
  --colorTwo: #d9c4a4;
  --colorThree: #8e8d8a;
  --colorFour: #e88074;
  --colorFive: #c7493a;
  --colorSix: #ffe800;
  --colorSeven: #009e60;
}

canvas {
  max-width: 90%;
  margin-left: 5%;
  overflow: hidden;
}
audio {
  visibility: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
